---
import WorksSection from "@/components/sections/WorksSection.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import PageHeader from "@/components/elements/PageHeader.astro";
---

<PageLayout title="我的作品">
  <section class="site-container m-auto">
    <PageHeader
      title="作品集"
      description="这是我最近的一些项目。我一直在创作新作品，请经常回来看看！"
    />

    <WorksSection />
  </section>
</PageLayout>
